<div class="row justify-content-center">
  <div class= "col-4">
    <h3>Add a list</h3>
    <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
    <% end %>
  </div>
</div>
