<h1>My lists</h1>
<div class="cards">
  <% @lists.each do |list|%>
  <%= link_to list_path(list), class: "text-decoration-none" do %>
    <div class="card-category" style="background-image: url('<%=list.image_url%>')">
      <%=list.name %>
      </div>
<% end %>
<% end %>
</div>

<%= render "form", list: @list %>


<%# , class: "text-decoration-none %>
